* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: Consolas, sans-serif;
    text-align: center;
    background-color: #FBFBFB;
}
body:has(option[value="dark"]:checked) {
    background: #000000;
    h1 { color: white; }
}
header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
}
.theme {
    position: absolute;
    right: 10px;
    width: 100px;
    border-radius: 0.2rem;
    padding: 8px;
    margin: 10px;
    font-family: Consolas, sans-serif;
}
select {
    border: none;
}
select:focus {
    outline: none;
    border: 1px solid rgb(95, 214, 174);
}
main {
    background-color: white;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto; width: 100%;
}
h1 {
    min-width: 300px;
}
h1, h2 {
    color: #000000;
}
select {
    width: 15%;
    border-radius: 0.4rem;
    padding: 8px;
    margin: 10px;
    font-family: Consolas, sans-serif;
}
input {
    width: 80%;
    padding: 8px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    font-family: Consolas, sans-serif;
}
input:focus {
    outline: none; /* Remove default outline */
    border: 1px solid rgb(95, 214, 174); /* Add a border on focus */
    background-color: #FBFBFB; /* Change background color on focus */
}
button {
    padding: 10px;
    background-color: #E8F9FF;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    font-family: Consolas, sans-serif;
}
button:hover {
    background-color: aquamarine;
}
#bmrResult, #bmiResult {
    margin-top: 1rem;
}
.bmr-style, .bmi-style {
    margin: 20px;
    padding: 10px;
    border-radius: 0.2rem;
    background-color: #C4D9FF;
    box-shadow: none;
    flex-wrap: wrap;
    min-width: 500px; max-width: 500px;
    height: 370px;
    flex: 1;
}
footer {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
footer a {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 0 10px;
    border-radius: 0.4rem;
    height: 35px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}
footer a:hover {
    background-color: aquamarine;
    padding: 0 10px 0 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    box-shadow: 5px rgba(0, 0, 0, 0.5);
}